/* General Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color:rgb(141, 137, 137);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Form Container Styles */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Set desired width for the form */
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

/* Label Styles */
label {
    margin-bottom: 8px;
    font-weight: bold;
}

/* Input Styles */
input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus {
    outline: none;
    border-color: #4caf50;
}

/* Button Styles */
input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
